<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-input type="text" style="background: gray" [(ngModel)]="encodeText"></ion-input>
        <button ion-button block (click)="encode()">Encode</button>
    </div>
    <div>
        <button ion-button block (click)="scan()">Scan</button>
    </div>
    <div *ngIf="str">
        <label>Your scan data is:</label>
        <br>
    </div>
    <iframe *ngIf="video.url" width="100%"
            height="315"
            [src]="trustedVideoUrl ? trustedVideoUrl : null"
            (load)="trustedVideoUrl ? handleIFrameLoadEvent() : null"
            frameborder="0"
            allowfullscreen></iframe>

    <h2>{{ video?.title }}</h2>
</ion-content>
